<html lang='en'>

<head>
  <meta charset='UTF-8' />
  <meta name='viewport'
    content='width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0' />
  <meta http-equiv='X-UA-Compatible' content='ie=edge' />
  <title>Заказ</title>
</head>

<body>
  <div style='font-family: sans-serif'>
    <h1>Заказ</h1>
    <p>
      Список товаров: {{products}}
    </p>
    <ul>
      <li>ФИО: {{name}}</li>
      <li>Телефон: {{number}}</li>
      <li>Адрес: {{adress}}</li>
      <li>Способ доставки: {{delivery}}</li>
      <li>Комментарий к заказу: {{comment}}</li>
      <li>Итоговая сумма: {{price}}</li>
    </ul>
  </div>
</body>

</html>